@font-face{
	font-family:'RobotoCondensed-Regular';
    src:url('../fonts/RobotoCondensed-Regular.ttf');
    font-weight: 400;
}

@font-face{
	font-family:'RobotoCondensed-Light';
    src:url('../fonts/RobotoCondensed-Light.ttf');
    font-weight: 500;
}

@font-face{
	font-family:'Alice';
    src:url('../fonts/Alice-Regular.ttf');
    font-weight: 600;
}
#logo{
  width: 210px;
}
#phonecall{
  font-family: Alice;
  font-size: 24px;
}
.header{
  margin-top:35px;
  margin-bottom: 35px;
}
.mediaicon{
   width: 22px;
   margin-right: 25px;
}
.desktopmenu{
  padding-top:10px;
  padding-bottom:10px;
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
}
.nav-link-new{
  font-family: Alice;
  color: black;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}
#sliderName{
    text-align: center;
    font-family: RobotoCondensed-Light;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bolder;
}
#sliderDis{
    text-align: center;
    font-family: RobotoCondensed-Light;
    font-size: 15px;
    margin-bottom: 15px;
}

.buttonLight{
  border: 1px solid #000000;
  width: 200px;
  height: 45px;
  background: white;
  transition: 0.5s;
  font-family: RobotoCondensed-Regular;
}
.buttonLight:hover{
  border: 1px solid #000000;
  width: 200px;
  height: 45px;
  background: black;
  color: white;
  transition: 0.5s;
  font-family: RobotoCondensed-Regular;
}

.dpanel{
 width: 95%;
 min-height: 1000px;
 background: #F8F9FA;
 margin-top:40px;
 margin-bottom:30px;
 margin-left: auto;
 margin-right: auto;
}
.sectionName{
  font-family: Alice;
  color: black;
  font-size: 32px;
  text-align: center;
  margin-bottom: 50px;
	padding-top: 50px;
}
.ContactMeForm{
	width: 550px;
  margin: auto;
}
#typeText{
	width: 550px;
  height: 50px;
  border: 1px solid black;
  margin-bottom: 20px;
	font-family: RobotoCondensed-Regular;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
}

#typeTextarea{
	width: 550px;
	height: 250px;
	border: 1px solid black;
	margin-bottom: 20px;
	font-family: RobotoCondensed-Regular;
	text-transform: uppercase;
	font-size: 14px;
	padding: 20px;
}

.footer{
	margin-top: 50px;
	margin-bottom: 50px;
}
